@import './Styles.scss';

.errorOverlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}